/* font style link  */
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Stardos+Stencil:wght@400;700&display=swap');
/* font style link  */
/**
  font-family: "Crimson Text", serif;
  font-family: "Merienda", serif
  font-family: "Poppins", serif;
  font-family: "Space Grotesk", serif;
  font-family: "Stardos Stencil", serif;
  font-family: "Carattere", cursive;
*/

/* toggle theme start  */
root {
    --primary-color: #fff;
    --secondary-color: #121c22;
    --border-color: #4320dd;
}

.dark {
    --primary-color: #111827;
    --secondary-color: #ffffff;
    --border-color: #ffffff;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--border-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* toggle theme end */

/* swiper css start */

.swiper-slide {
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    transform: scale(1);
    transition: transform 3s ease-in-out;
}

.swiper-slide-active img {
    transform: scale(1.2);
    transition: transform 3s ease-in-out;
}


/* swiper css end  */
.titel {
    font-family: "Carattere", cursive;
}

.titel_content {
    font-family: "Crimson Text", serif;
}

#form_container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: red;
}
.inStyle:is(:focus) {
    border: 2px solid transparent;
    transition: all 0.1s ease;
    background: linear-gradient(#121125, #121125) padding-box, linear-gradient(45deg, blue,red) border-box;
}
